* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-width: 100%;
    min-height: 100%;
}

.grid-container {
    height: 100vh;
    display: grid;
    grid-template-rows: 140px auto auto;
    grid-template-areas:
        'header'
        'main'
        'footer';
}

/* Estilos para el header y logo de marca*/
.grid-container header {
    background-color: #90BE6D;
    grid-area: header;
    padding: 5px;
    display: flex;
    justify-content: space-between;
}

.header__logo {
    display: flex;
    align-items: center;
    font-size: 0;
    margin-bottom: 5px;
}

.header__logo img {
    height: 70px;
    margin: 5px 0px 0px 5px;
}

.header__logo h2 {
    font-family: 'Hammersmith One', sans-serif;
    font-size: 20px;
    display: inline;
}

/* Estilos para barra de navegacion */
.nav__bar {
    display: flex;
    flex-direction: column;
}

.nav__bar ul {
    list-style-type: none;
    font-style: normal;
}

.nav__bar ul li {
    margin-bottom: 2px;
}

.nav__bar ul li a {
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    text-decoration: none;
    padding: 0px 20px;
    margin: 0px 20px;
    color: black;
}

.nav__bar ul li a:hover {
    background-image: linear-gradient(to bottom, #EC9F05, #F7F9F9);
}

.header__menu {
    display: none;
    font-size: 40px;
    background: none;
    border: none;
    padding: 0 10px;
    line-height: 60px;
}

/* estilos para el titulo, los parrafos y las imagenes*/
.grid-container main {
    grid-area: main;
    background-color: ghostwhite;
}

.img-fluid {
    min-width: 100%;
    height: auto;
}

h1 {
    font-family: 'Hammersmith One', sans-serif;
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    padding-top: 20px;
}

.article__parrafo {
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    font-weight: 900;
    text-align: center;
    line-height: 1.6;
    margin: 20px 20px;
    padding: 20px 12px;
}

.article__images {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.article__images img {
    width: 450px;
    height: 300px;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5%;
}

.article__images iframe {
    width: 450px;
    height: 300px;
    padding: 10px;
    margin-bottom: 10px;
}

.img-thumbnail {
    background-color: #90BE6D;
}

/* Estilos para cards */
.card {
    background-color: #90BE6D;
    width: 400px;
    /* margin-left: 50px; */
    margin-bottom: 15px;
    text-align: center;
    font-family: 'Hammersmith One', sans-serif;
    font-weight: bold;
}

.card-title {
    text-decoration: underline;
    font-size: 25px;
    font-weight: 900;
}

.card-text {
    font-size: 22px;
}

.card-link {
    color: black;
    transition: all 1s;
}

.card-link:hover {
    color: #F1F2EE;
    text-decoration: underline;

}

/* Estilos para eventos.html */
.title_eventos {
    font-family: 'Hammersmith One', sans-serif;
    font-weight: bold;
    margin: 15px;
    text-align: center;
}

.image_eventos img {
    display: none;
}


.parrafo_eventos {
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    font-weight: 900;
    text-align: center;
    line-height: 1.6;
    margin: 20px 20px;
    padding: 20px 12px;
}

/* Estilos para contacto.html */
.mb-3 {
    max-width: 50%;
    margin-left: 30%;
}


/* Estilos para el footer y enlace a redes sociales */
.container-fluid {
    background-color: #90BE6D;
    grid-area: footer;
}

.col-3 {
    text-align: center;
}

.col-3 img {
    height: 70px;
    margin: 10px 0px 0px 5px;
}

.footer__redes {
    margin: 5px;
    font-size: 35px;
}

.col-3 p {
    font-family: 'Hammersmith One', sans-serif;
    margin: 10px;
    font-size: 11px;
    font-weight: 900;
    text-align: left;
    font-weight: bold;
}

@media screen and (min-width: 768px) {

    .grid-container {
        height: 100vh;
        grid-template-rows: 140px auto 115px;
    }

    /* Estilos para el header y logo de marca*/

    header {
        position: fixed;
        width: 100%;
    }

    .header__logo img {
        height: 120px;
    }

    .header__logo h2 {
        font-size: 35px;
        display: inline;
    }

    /* Estilos para la barra de navegacion */
    .nav__bar {
        display: flex;
        justify-content: center;
    }

    .nav__bar ul {
        display: flex;
        padding-left: 25px;
    }

    .nav__bar ul li {
        display: inline;
    }

    .nav__bar ul li a {
        border: 3px groove black;
    }


    /* se acomodan las imagenes al lado del texto */
    .article__container {
        display: flex;
        justify-content: space-around;
    }

    .article__parrafo {
        display: inline-block;
        text-align: left;
        margin: 20px 20px;
        padding: 20px 12px;
        width: 35%;
    }

    .article__images {
        display: inline-block;
    }

    .article__images img {
        width: 450px;
        height: 300px;
        padding: 10px;
        border-radius: 5%;
    }

    .article__images iframe {
        width: 450px;
        height: 300px;
        padding: 10px;
        margin-bottom: 10px;
    }
    
    .img-thumbnail {
        background-color: #90BE6D;
    }

    /* estilos para eventos.html */

    .container_eventos {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .title_eventos {
        display: inline-block;
        text-align: start;
    }

    .image_eventos {
        display: inline-block;
        width: 600px;
        height: 800px;
        margin: 20px
    }

    .image_eventos img {
        display: inline-block;
        width: 600px;
        height: 700px;
    }

    .article__eventos {
        display: flex;
        flex-direction: column;
        width: 50%;
    }

    .parrafo_eventos {
        font-family: 'Poppins', sans-serif;
        text-align: left;
        font-size: 17px;
        font-weight: 900;
        line-height: 1.6;
        margin: 20px 20px;
        padding: 20px 12px;
    }

    /* estilo para la galeria de imagenes */
    iframe {
        width: 460px;
        height: 315px;
    }


    /* Estilos para el footer y redes sociales */
    .container-fluid {
        background-color: #90BE6D;
        grid-area: footer;
    }

    .footer__redes {
        display: flex;
        font-size: 45px;
        margin-right: 50px;
    }

    .footer__redes i {
        padding: 15px;
        transition: all 1.5s;
    }

    .footer__redes i:hover {
        color: whitesmoke;
    }

    .col-3 {
        text-align: center;
    }
    .col-3 img {
        height: 100px;
    }

    .col-3 p {
        font-family: 'Poppins', sans-serif;
        margin-right: 15px;
        font-size: 20px;
        font-weight: 900;
        text-align: right;
        font-weight: bold;
    }
}