* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    display: grid;
    min-width: 100%;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
}

/* Estilos para el header y logo de marca*/

.navbar {
    background-color: #90BE6D;
    color: #000;
}

.navbar-nav {
    align-items: center;
}

.nav-link{
    color: black;
    font-weight: bold;
    font-size: 20px;
    text-decoration: underline;
}

.logo-marca {
    width: 150px;
    height: 150px;
}

/* estilos para el titulo, los parrafos y las imagenes*/
main {
    background-color: ghostwhite;
}

.img-fluid {
    width: 100%;
    height: auto;
}

h1 {
    font-family: 'Hammersmith One', sans-serif;
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    padding-top: 20px;
}

.article__parrafo {
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    font-weight: 900;
    text-align: center;
    line-height: 1.6;
    margin: 20px 20px;
    padding: 20px 12px;
}

.article__images {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.article__images img {
    width: 450px;
    height: 300px;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5%;
}

.article__images iframe {
    width: 450px;
    height: 300px;
    padding: 10px;
    margin-bottom: 10px;
}

.img-thumbnail {
    background-color: #90BE6D;
}

/* Estilos para cards */
.card {
    background-color: #90BE6D;
    width: 380px;
    margin-bottom: 15px;
    text-align: center;
    font-family: 'Hammersmith One', sans-serif;
    font-weight: bold;
}

.card-title {
    text-decoration: underline;
    font-size: 25px;
    font-weight: 900;
}

.card-text {
    font-size: 22px;
}

.card-link {
    color: black;
    transition: all 1s;
}

.card-link:hover {
    color: #F1F2EE;
    text-decoration: underline;

}

/* Estilos para eventos.html */
.title_eventos {
    font-family: 'Hammersmith One', sans-serif;
    font-weight: bold;
    margin: 15px;
    text-align: center;
}

.image_eventos img {
    display: none;
}


.parrafo_eventos {
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    font-weight: 900;
    text-align: center;
    line-height: 1.6;
    margin: 20px 20px;
    padding: 20px 12px;
}

/* Estilos para contacto.html */
.mb-3 {
    max-width: 50%;
    margin-left: 30%;
}


/* Estilos para el footer y enlace a redes sociales */
footer {
    background-color: #90BE6D;
    margin-top: auto;
}

.footer__redes {
    display: flex;
    flex-direction: column;
    margin: 10px 0px 0px 5px;
    padding-bottom: 5px;
    font-size: 35px;
}

.footer__copy p {
    font-family: 'Hammersmith One', sans-serif;
    margin: 10px;
    font-size: 12px;
    font-weight: 900;
    text-align: center;
    font-weight: bold;
}


@media screen and (min-width: 768px) {

    body {
        display: grid;
        min-width: 100%;
        min-height: 100vh;
        grid-template-rows: auto 1fr auto;
    }

    /* Estilos para el header y logo de marca*/


    /* Estilos para la barra de navegacion */
    .nav-link{
        color: black;
        font-weight: bold;
        font-size: 28px;
        text-decoration: none;
        padding: 1px;
        margin: 5px;
    }

    .nav-link:hover {
        text-decoration: underline;
    }

    /* se acomodan las imagenes al lado del texto */
    .article__container {
        display: flex;
        justify-content: space-around;
    }

    .article__parrafo {
        display: inline-block;
        text-align: left;
        margin: 20px 20px;
        padding: 20px 12px;
        width: 35%;
    }

    .article__images {
        display: inline-block;
    }

    .article__images img {
        width: 450px;
        height: 300px;
        padding: 10px;
        border-radius: 5%;
    }

    .article__images iframe {
        width: 450px;
        height: 300px;
        padding: 10px;
        margin-bottom: 10px;
    }
    
    .img-thumbnail {
        background-color: #90BE6D;
    }

    /* estilos para eventos.html */

    .container_eventos {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .title_eventos {
        display: inline-block;
        text-align: start;
    }

    .image_eventos {
        display: inline-block;
        width: 600px;
        height: 800px;
        margin: 20px
    }

    .image_eventos img {
        display: inline-block;
        width: 550px;
        height: 700px;
    }

    .article__eventos {
        display: flex;
        flex-direction: column;
        width: 50%;
    }

    .parrafo_eventos {
        font-family: 'Poppins', sans-serif;
        text-align: left;
        font-size: 17px;
        font-weight: 900;
        line-height: 1.6;
        margin: 20px 20px;
        padding: 20px 12px;
    }

    /* estilo para la galeria de imagenes */
    iframe {
        width: 460px;
        height: 315px;
    }


    /* Estilos para el footer y redes sociales */
     footer {
        background-color: #90BE6D;
        margin-top: auto;
    }

    .footer__redes {
        display: flex;
        flex-direction: row;
        font-size: 45px;
        margin-right: 50px;
    }

    .footer__redes i {
        padding: 15px;
        transition: all 1.5s;
    }

    .footer__redes i:hover {
        color: whitesmoke;
    }

    .footer__copy p {
        font-family: 'Poppins', sans-serif;
        margin-right: 15px;
        font-size: 20px;
        font-weight: 900;
        text-align: right;
        font-weight: bold;
    }
}