$color-principal:#90BE6D;
$color-secundario: ghostwhite;
$font-text:'Poppins', sans-serif;
$font-titles:'Hammersmith One', sans-serif;

//mapa de estilos
$estilos:(interlineado:1.6,tDecoration:underline);


//mapa de colores
$colores-redes:(facebook:#3b5998, twitter:#00acee, instagram:#dd2a7b, email:#BBDA12);

//breakpoint 
$desktop:768px;